# local package
-e .

# external requirements
click
coverage
flake8
black
python-dotenv>=0.5.1
obspy
matplotlib
numpy
cartopy
loguru==0.7.0
datasette==0.64.3
geojson-to-sqlite==1.1.1
prettytable==3.9.0
